name: cron-deploy

on:
  schedule:
    - cron: '*/20 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: call netlify build webhook
        run: curl -XPOST -d {} ${{ secrets.WEBHOOK_URL }}
